{
  "presets": ["vue"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "client": "./client",
          "server": "./server"
        }
      }
    ]
  ]
}
